apiVersion: apps/v1
kind: Deployment
metadata:
  name: sre-demo-app
  labels:
    app: sre-demo-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: sre-demo-app
  template:
    metadata:
      labels:
        app: sre-demo-app
    spec:
      containers:
        - name: sre-demo-container
          # TODO: update this image later after we push to a registry
          image: sre-demo-app:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          # Kubernetes will periodically check this to see if the pod is alive
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 15
            failureThreshold: 3
          # Kubernetes checks this before sending traffic to the pod
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 3
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
