name: CI - Build SRE Demo App

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        working-directory: ./app
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Sanity check Python app
        working-directory: ./app
        run: |
          python -m compileall app.py

      - name: Build Docker image
        working-directory: ./app
        run: |
          docker build -t sre-demo-app:ci .
